Consumo de API do IBGE 

Retorno esperado : Dados sobre Pesquisa Mensal da Indústria

Taxa de 
* Pessoal ocupado, folha de pagamento e número de horas pagas, por seções e divisões no período de 10/2015.
* índice acumulado de 12 meses
* Seção de fabricação de meios de transporte

In [2]:
import pandas as pd  #possibilita manipulação e análise de dados
import requests  #possibilita integração com serviços web, solicitações HTTP consumir dados de APIs
from IPython.display import display

In [5]:
url = "https://servicodados.ibge.gov.br/api/v3/agregados/1628/periodos/201510/variaveis/708|19|21|20|22|685|686?localidades=N1[all]&classificacao=24[2542]|11773[95038]"

In [6]:
# Realizar a requisição
response = requests.get(url)

In [7]:
# Verificar se a requisição foi bem-sucedida
if response.status_code == 200:
    # Converter os dados para JSON
    data = response.json()

    # Extração e organização dos valores em formato de tabela
    tabela_dados = []

    try:
        # Acesse os dados conforme a estrutura JSON retornada
        for resultado in data[0]["resultados"]:
            for serie in resultado["series"]:
                localidade = serie["localidade"]["nome"]
                for periodo, valor in serie["serie"].items():
                    tabela_dados.append({
                        "Localidade": localidade,
                        "Período": periodo,
                        "Valor": valor
                    })

        # Criar DataFrame com os dados extraídos
        df = pd.DataFrame(tabela_dados)

       # Exibir a tabela diretamente no Jupyter Notebook
        display(df)

    except KeyError as e:
        print(f"Erro ao processar os dados: {e}")
else:
    print(f"Erro na requisição: {response.status_code}")

  Localidade Período  Valor
0     Brasil  201510  89.67

In [11]:
import requests

# URL da API
url = "https://servicodados.ibge.gov.br/api/v3/agregados/1628/periodos/201510/variaveis/708|19|21|20|22|685|686?localidades=N1[all]&classificacao=24[2542]|11773[95038]"
# Realizar requisição simples
try:
    response = requests.get(url)
    response.raise_for_status()  # Gera erro se o status não for 200
    # Exibir a resposta JSON bruta para verificar a estrutura
    print(response.json())
except requests.exceptions.RequestException as e:
    print(f"Erro na requisição: {e}")

[{'id': '708', 'variavel': 'Pessoal ocupado assalariado', 'unidade': 'Número-índice', 'resultados': [{'classificacoes': [{'id': '24', 'nome': 'Tipo de índice', 'categoria': {'2542': 'Índice acumulado de 12 meses (Base: últimos 12 meses anteriores = 100)'}}, {'id': '11773', 'nome': 'Seções e Divisões', 'categoria': {'95038': 'Fabricação de meios de transporte'}}], 'series': [{'localidade': {'id': '1', 'nivel': {'id': 'N1', 'nome': 'Brasil'}, 'nome': 'Brasil'}, 'serie': {'201510': '89.67'}}]}]}, {'id': '19', 'variavel': 'Folha de pagamento nominal', 'unidade': 'Número-índice', 'resultados': [{'classificacoes': [{'id': '24', 'nome': 'Tipo de índice', 'categoria': {'2542': 'Índice acumulado de 12 meses (Base: últimos 12 meses anteriores = 100)'}}, {'id': '11773', 'nome': 'Seções e Divisões', 'categoria': {'95038': 'Fabricação de meios de transporte'}}], 'series': [{'localidade': {'id': '1', 'nivel': {'id': 'N1', 'nome': 'Brasil'}, 'nome': 'Brasil'}, 'serie': {'201510': '96.69'}}]}]}, {'id': '21', 'variavel': 'Folha de pagamento nominal por trabalhador', 'unidade': 'Número-índice', 'resultados': [{'classificacoes': [{'id': '24', 'nome': 'Tipo de índice', 'categoria': {'2542': 'Índice acumulado de 12 meses (Base: últimos 12 meses anteriores = 100)'}}, {'id': '11773', 'nome': 'Seções e Divisões', 'categoria': {'95038': 'Fabricação de meios de transporte'}}], 'series': [{'localidade': {'id': '1', 'nivel': {'id': 'N1', 'nome': 'Brasil'}, 'nome': 'Brasil'}, 'serie': {'201510': '107.66'}}]}]}, {'id': '20', 'variavel': 'Folha de pagamento real', 'unidade': 'Número-índice', 'resultados': [{'classificacoes': [{'id': '24', 'nome': 'Tipo de índice', 'categoria': {'2542': 'Índice acumulado de 12 meses (Base: últimos 12 meses anteriores = 100)'}}, {'id': '11773', 'nome': 'Seções e Divisões', 'categoria': {'95038': 'Fabricação de meios de transporte'}}], 'series': [{'localidade': {'id': '1', 'nivel': {'id': 'N1', 'nome': 'Brasil'}, 'nome': 'Brasil'}, 'serie': {'201510': '89.43'}}]}]}, {'id': '22', 'variavel': 'Folha de pagamento real por trabalhador', 'unidade': 'Número-índice', 'resultados': [{'classificacoes': [{'id': '24', 'nome': 'Tipo de índice', 'categoria': {'2542': 'Índice acumulado de 12 meses (Base: últimos 12 meses anteriores = 100)'}}, {'id': '11773', 'nome': 'Seções e Divisões', 'categoria': {'95038': 'Fabricação de meios de transporte'}}], 'series': [{'localidade': {'id': '1', 'nivel': {'id': 'N1', 'nome': 'Brasil'}, 'nome': 'Brasil'}, 'serie': {'201510': '99.50'}}]}]}, {'id': '685', 'variavel': 'Número de horas pagas', 'unidade': 'Número-índice', 'resultados': [{'classificacoes': [{'id': '24', 'nome': 'Tipo de índice', 'categoria': {'2542': 'Índice acumulado de 12 meses (Base: últimos 12 meses anteriores = 100)'}}, {'id': '11773', 'nome': 'Seções e Divisões', 'categoria': {'95038': 'Fabricação de meios de transporte'}}], 'series': [{'localidade': {'id': '1', 'nivel': {'id': 'N1', 'nome': 'Brasil'}, 'nome': 'Brasil'}, 'serie': {'201510': '88.71'}}]}]}, {'id': '686', 'variavel': 'Número de horas pagas por trabalhador', 'unidade': 'Número-índice', 'resultados': [{'classificacoes': [{'id': '24', 'nome': 'Tipo de índice', 'categoria': {'2542': 'Índice acumulado de 12 meses (Base: últimos 12 meses anteriores = 100)'}}, {'id': '11773', 'nome': 'Seções e Divisões', 'categoria': {'95038': 'Fabricação de meios de transporte'}}], 'series': [{'localidade': {'id': '1', 'nivel': {'id': 'N1', 'nome': 'Brasil'}, 'nome': 'Brasil'}, 'serie': {'201510': '98.92'}}]}]}]

In [17]:
# Processar os dados para criar uma tabela
tabela_dados = []

for item in data:
    variavel = item["variavel"]
    for resultado in item["resultados"]:
        for serie in resultado["series"]:
            localidade = serie["localidade"]["nome"]
            for periodo, valor in serie["serie"].items():
                tabela_dados.append({
                    "Localidade": localidade,
                    "Período": periodo,
                    variavel: valor
                })

# Criar DataFrame
df = pd.DataFrame(tabela_dados)

# Pivotar para organizar variáveis como colunas
df_final = df.pivot_table(index=["Localidade", "Período"], values=list(df.columns[2:]), aggfunc="first").reset_index()

# Exibir o DataFrame no Jupyter Notebook
from IPython.display import display
display(df_final)

,Localidade,Período,Folha de pagamento nominal,Folha de pagamento nominal por trabalhador,Folha de pagamento real,Folha de pagamento real por trabalhador,Número de horas pagas,Número de horas pagas por trabalhador,Pessoal ocupado assalariado
0,Brasil,201510,96.69,107.66,89.43,99.50,88.71,98.92,89.67