Consumo de API do IBGE 

Retorno esperado : Dados sobre a Inflação IPCA

In [1]:
import pandas as pd  #possibilita manipulação e análise de dados
import requests  #possibilita integração com serviços web, solicitações HTTP consumir dados de APIs

In [2]:
url = "https://servicodados.ibge.gov.br/api/v3/agregados/1419/periodos/-6/variaveis/63?localidades=N1[all]&classificacao=315[7736,7792]"

In [3]:
# Realizar a requisição
response = requests.get(url)

# Verificar se a requisição foi bem-sucedida
if response.status_code == 200:
    # Converter os dados para JSON
    data = response.json()

In [5]:
# Processar os dados para criar uma tabela
tabela_dados = []

for resultado in data[0]["resultados"]:
    categoria = list(resultado["classificacoes"][0]["categoria"].values())[0]
    for serie in resultado["series"]:
        localidade = serie["localidade"]["nome"]
        for periodo, valor in serie["serie"].items():
            tabela_dados.append({
                "Categoria": categoria,
                "Localidade": localidade,
                "Período": periodo,
                "Valor (%)": float(valor)
            })

# Criar DataFrame
df = pd.DataFrame(tabela_dados)

# Transformar o Período para um formato legível (ano e mês)
df["Período"] = pd.to_datetime(df["Período"], format="%Y%m")

# Exibir a tabela no Jupyter Notebook
from IPython.display import display
display(df)

                   Categoria Localidade    Período  Valor (%)
0          7201019.Bicicleta     Brasil 2019-07-01      -0.16
1          7201019.Bicicleta     Brasil 2019-08-01       0.97
2          7201019.Bicicleta     Brasil 2019-09-01      -0.13
3          7201019.Bicicleta     Brasil 2019-10-01       1.16
4          7201019.Bicicleta     Brasil 2019-11-01      -0.33
5          7201019.Bicicleta     Brasil 2019-12-01      -0.55
6   9101008.Telefone celular     Brasil 2019-07-01       1.46
7   9101008.Telefone celular     Brasil 2019-08-01       0.43
8   9101008.Telefone celular     Brasil 2019-09-01       0.00
9   9101008.Telefone celular     Brasil 2019-10-01       0.00
10  9101008.Telefone celular     Brasil 2019-11-01       0.00
11  9101008.Telefone celular     Brasil 2019-12-01       0.00